.app-wrapper {
    height: 100%;
    // 上部导航区
    .navbar {
        height: 50px;
        line-height: 50px;
        border: 1px solid #ccc;
        text-align: center;
    }
    // 下部内容区
    .main-container {
        display: flex;
        min-height: calc(100% - 50px);
        
        .sidebar-container {
            transition: .28s;
            width: 210px !important;
            border: 1px solid #ccc;
        }

        .app-main {
            transition: .28s;
            width: calc(100% - 210px);
            border: 1px solid #ccc;
        }
    }

    .main-container.collapse {
        .sidebar-container {
            transition: .28s;
            width: 65px !important;
        }
        .app-main {
            transition: .28s;
            width: calc(100% - 65px);
            border: 1px solid #ccc;
        }
    }

}